{{ partial "head" . }}
  <body>
    <div id="wrap">
      <!-- Header -->
      {{ partial "header" . }}
      <!-- Annoyingly, this is how you have to handle page-types for 'directories' -->
      {{ if eq .Params.pagetype "content" }}

        <section id="about">
          <div class="container">
            <h1>{{ .Title }}</h1>
            <div class="panel panel-default">
              <div class="panel-body">
                {{ .Content }}
              </div>
            </div>
          </div>
        </section>

        {{ else if eq .Params.pagetype "apps" }}

        <section id="apps">
          <div class="container">
            <h1>{{ .Site.Data.apps.name }}</h1>

            <div class="panel panel-default">
              <div class="panel-body">
              <h5>{{ .Content }}</h5>
              {{ range $i, $el := .Site.Data.apps.source }}
                <h5>
                  <i class="{{ .icon }}"></i>&nbsp;&nbsp;
                  <strong><a href="{{ $el.link }}">{{ $el.name }}</a></strong>&nbsp;-&nbsp;{{ $el.description }}
                </h5>
              {{ end }}
              </div>
            </div>
          </div>
        </section>

      {{ else }}

      <div class="container">
        <h1>Blog</h1>
          <div class="panel panel-default">
            <div class="panel-body">
            {{ range .Data.Pages.ByPublishDate }}
              <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4">
                  <h5 style="text-align: right">
                    {{ .Date.Format "January 2, 2006" }}
                  </h5>
                 </div>
                 <div class="col-sm-8 col-md-8 col-lg-8">
                   <h5 style="text-align: left">
                    <strong><a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a></strong>
                  </h5>
                </div>
              </div>
            {{ end }}
            </div>
          </div>
      </div>
      {{ end }}
    </div>
    <!-- Footer -->
    {{ partial "footer" . }}
  </body>
</html>
